<html>
<head>
</head>
<body>
#parse ("/includes/decorators/header.vm")
    <h2>$title</h2>
    $head
    <td valign="top" class="body">
        <div class="header">
            <span class="pagetitle">$title</span>
        </div>
        $body
    </td>
#parse ("/includes/decorators/footer.vm")
</body>
</html>